<footer class="footer"
><div class="footer-container">

  <div class="m-12">
  <div class="footer-top">
    <div class="list-box">
    <ul class="footer-info">
      <li><a href="#">首頁</a></li>
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">常見問題</a></li></li>
    </ul>
    <div class="footer-contact ">
      <a href="tel:0800-000-000"><span class="material-symbols-outlined footer-span">call</span>0800-000-000</a>
    <a href="mailto:glasses@business.com"><span class="material-symbols-outlined footer-span">mail
    </span>glasses@business.com</a></div>
  </div>
    <ul class="footer-icon">
      <li class="mr-32"><a href="#"><img src="../assets/image/ic-social-fb.png" alt="facebook icon"></a></li>
      <li class="mr-32"><a href="#"><img src="../assets/image/ic_social_ig.png" alt="ig icon"></a></li>
      <li ><a href="#"><img src="../assets/image/ic_social_line.png" alt="line icon"></a></li>
    </ul>
  </div>
  <div class="footer-button"><p>Copyright © 2020 Glasses.All rights reserved.</p>
  <ul class="d-flex">
    <li class="mr-12 ">隱私權政策</li>
    <li>服務條款</li>
  </ul></div>
  
</div>
  </div
></footer>