<header class="header">
  <div class="header-container">
    <nav class="nav">
      <div>
        <a href="index.html">
          <img
            class="header-logo"
            src="../assets/image/logo-white.png"
            alt="logo icon"
        /></a>
      </div>
      <ul class="header-navbar">
        <li class="header-list"><a href="seriestype.html">系列鏡框</a></li>
        <li class="header-list"><a href="storemap.html">門市據點</a></li>
        <li class="header-list"><a href="blog.html">部落格</a></li>
        <li class="header-list"><a href="question.html">常見問題</a></li>
      </ul>
    </nav>
  </div>
</header>
