.header-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  font-size: 20px;
  @include pad {
    padding: 0 12px;
  }
}

.header {
  background-color: #aa0601;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  @include mobile-large {
    width: 100%;
    flex-wrap: wrap;
  }
}

.header-list {
  @include mobile-large {
    width: 50%;
    border: 1px solid white;
    text-align: center;
  }
  a {
    padding: 25px 32px;
    &:hover {
      color: #f76f6f;
    }
    @include mobile-large {
      display: block;
      padding: 12px 0;
      &:hover {
        background-color: #f3d9d9;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 -12px;
  @include mobile-large {
    display: block;
    padding: 0;
  }
}
.list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-logo {
  width: 80px;
  @include mobile-large {
    margin: 16px 15px;
  }
}
