.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
}

.banner-h2 {
  font-size: 36px;
  color: #650300;
  @include mobile-large {
    font-size: 16px;
  }
}

.banner-h1 {
  font-size: 64px;
  color: #650300;
  font-weight: bold;
  @include mobile-large {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.banner-info {
  text-align: end;
  margin: 0 -12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.banner-button {
  font-size: 20px;
  background-color: #650300;
  padding: 6px 12px;
  display: inline-block;
  &:hover {
    background-color: #ffff;
    color: #650300;
  }
}

.info {
  background-color: #fbf2f2;
}

.info-head {
  margin: 0 -12px;
  h2 {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    @include mobile-large {
      padding-top: 40px;
      font-size: 24px;
    }
  }
}

.info-body {
  margin: 0 -12px;
}

.design {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  img {
    width: 84px;
    height: 84px;
  }
  h3 {
    color: #650300;
    font-weight: bold;
    font-size: 24px;
  }
}

.series-title {
  padding: 0 12px;
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin: 80px 12px 48px 12px;
  @include mobile-large {
    font-size: 24px;
    margin: 40px 12px 24px 12px;
  }
}

.series-info h2 {
  font-size: 48px;
  color: #aa0601;
  text-align: center;
  font-style: Italic;
  font-weight: 900;
}

.series-list {
  padding: 0 12px;
  @include pad {
    flex-wrap: wrap;
    max-width: 336px;
    margin: 0 auto;
  }
}

.info-listCard {
  padding: 0 12px;
  width: 25%;
  @include pad {
    width: 50%;
  }
  @include mobile-large {
    width: 100%;
  }
}

.design-box {
  display: flex;
  padding: 0 12px 80px 12px;
  @include pad {
    flex-wrap: wrap;
    img {
      max-width: 100%;
    }
  }
  h3 {
    text-align: center;
    background-color: #fff;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: #aa0601;
  }
}

.design-title {
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;

  padding: 80px 12px 48px 12px;
}

.recommend-title {
  text-align: center;
  color: #650300;
  font-size: 48px;
  font-weight: bold;
  padding: 80px 12px 48px 12px;
  @include mobile-large {
    font-size: 24px;
    padding: 40px 12px 24px 12px;
  }
}

.customer {
  display: flex;
  gap: 24px;
  padding: 0 12px 80px 12px;
  @include pad {
    flex-wrap: wrap;
  }
}

.contentbox {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 205px;
}

.customer-card {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  opacity: 1;
  @include pad {
    max-width: 48%;
  }
  @include mobile-large {
    max-width: 100%;
  }
}
.content1 {
  font-weight: 500;
  margin-bottom: 8px;
}

.content3 {
  color: #707070;
  margin-top: auto;
}

.form {
  background-color: #fbf2f2;
  padding-bottom: 80px;
}
.form-box {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  input,
  textarea {
    background-color: transparent;
    padding: 6px 12px;
  }
}

.checkbox {
  display: flex;
  margin-top: 16px;
  margin-bottom: 48px;

  input {
    width: 24px;
    height: 24px;
    margin: 0px 4px 0px 0px;
  }
}

.form-container {
  max-width: 636px;
  margin: 0 auto;
  @include pad {
    max-width: 576px;
  }
  h4 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    padding-top: 80px;
    padding-bottom: 48px;
  }
  p {
    font-size: 20px;
    padding-bottom: 24px;
  }
}

@include pad {
  .design-info {
    padding-bottom: 24px;
  }
}

@include mobile-large {
  .form-container {
    max-width: 348px;
    h4 {
      font-size: 24px;
      padding-top: 40px;
      padding-bottom: 24px;
    }
  }
}
