a {
  text-decoration: none;
  color: #ffff;
}

.container {
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.header-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  font-size: 20px;
}

.footer-container {
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}
.d-flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

/*字形*/
.fz-36 {
  font-size: 36px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-20 {
  margin-bottom: -80px;
}

.mb-4 {
  margin-bottom: -16px;
}
.mb-2 {
  margin-bottom: 8px;
}

.mr-12 {
  margin-right: 48px;
}
.mr-32 {
  margin-right: 32px;
}
.pb-20 {
  padding-bottom: 80px;
}

/*調整方位*/
.m-12 {
  margin: 0 -12px;
}
.p-12 {
  padding: 12px;
}
.gp-24 {
  gap: 24px;
}
.header {
  background-color: #aa0601;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
}

.header-list a {
  padding: 25px 32px;
  &:hover {
    color: #f76f6f;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 -12px;
}
.list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-logo {
  width: 80px;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
}

.banner-h2 {
  font-size: 36px;
  color: #650300;
}

.banner-h1 {
  font-size: 64px;
  color: #650300;
  font-weight: bold;
}

.df {
  display: flex;
}

.banner-info {
  text-align: end;
  margin: 0 -12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.banner-button {
  font-size: 20px;
  background-color: #650300;
  padding: 6px 12px;
  margin-bottom: 296px;
  &:hover {
    background-color: #ffff;
    color: #650300;
  }
}

.info {
  background-color: #fbf2f2;
}

.info-head {
  margin: 0 -12px;
  h2 {
    color: #650300;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
  }
}

.info-body {
  margin: 0 -12px;
}

.design {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  img {
    width: 84px;
    height: 84px;
  }
  h3 {
    color: #650300;
    font-weight: bold;
    font-size: 24px;
  }
}

.series-title {
  padding: 0 12px;
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin: 80px 12px 48px 12px;
}

.series-info h2 {
  font-size: 48px;
  color: #aa0601;
  text-align: center;
  font-style: Italic;
  font-weight: 900;
}

.series-list {
  padding: 0 12px;
}

.info-listCard {
  padding: 0 12px;
  width: 25%;
}

.design-box {
  display: flex;
  padding: 0 12px 80px 12px;
  h3 {
    text-align: center;
    background-color: #fff;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: #aa0601;
  }
}

.design-title {
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;

  padding: 80px 12px 48px 12px;
}

.recommend-title {
  text-align: center;
  color: #650300;
  font-size: 48px;
  font-weight: bold;
  padding: 80px 12px 48px 12px;
}

.customer {
  display: flex;
  gap: 24px;
  padding: 0 12px 80px 12px;
}

.contentbox {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.customer-card {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  opacity: 1;
}
.content1 {
  font-weight: 500;
  margin-bottom: 8px;
}

.content2 {
  padding-bottom: 72px;
}
.content3 {
  color: #707070;
  margin-top: auto;
}

.form {
  background-color: #fbf2f2;
  padding-bottom: 80px;
}
.form-box {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  input,
  textarea {
    padding: 6px 12px;
  }
}

.checkbox {
  display: flex;
  margin-top: 16px;
  margin-bottom: 48px;

  input {
    width: 24px;
    height: 24px;
    margin: 0px 4px 0px 0px;
  }
}

.form-container {
  max-width: 636px;
  margin: 0 auto;
  h4 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    padding-top: 80px;
    padding-bottom: 48px;
  }
  p {
    font-size: 20px;
    padding-bottom: 24px;
  }
}

.footer {
  background-color: #aa0601;
  color: white;
}

.footer-info {
  display: flex;
  margin-bottom: 24px;
  a {
    padding-right: 48px;
    &:hover {
      color: rgb(236, 197, 197);
    }
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;

  padding: 48px 12px 0 12px;
}

.footer-span {
  font-size: 36px !important;
  margin-right: 20px;
}
.footer-icon {
  display: flex;

  img {
    max-width: 48px;
    height: auto;
    transition: all 0.25s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.footer-button {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding: 32px 12px;
}

.footer-contact {
  font-size: 36px;
  a {
    display: block;
  }
}

.checkbutton {
  background-color: #aa0601;
  color: white;
  max-width: 406px;
  margin: 0 auto;
  text-align: center;
  &:hover {
    background-color: #f64141;
    cursor: pointer;
  }
  p {
    padding: 16px 0;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .info-listCard {
    width: 50%;
    padding: 0 12px;
  }

  .series-list {
    flex-wrap: wrap;
    max-width: 336px;
    margin: 0 auto;
  }
  .design-box {
    flex-wrap: wrap;
    img {
      max-width: 100%;
    }
  }

  .design-info {
    padding-bottom: 24px;
  }

  .container {
    max-width: 720px;
  }
  .header-container {
    padding: 0 12px;
  }
  .customer {
    flex-wrap: wrap;
  }
  .customer-card {
    max-width: 48%;
  }
  .form-container {
    max-width: 576px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 372px;
  }
  .footer-container {
    max-width: 372px;
  }

  .nav {
    display: block;
    padding: 0;
  }

  .header-navbar {
    width: 100%;
    flex-wrap: wrap;
  }
  .header-logo {
    margin: 16px 15px;
  }
  .header-list {
    width: 50%;
    border: 1px solid white;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px 0;
      &:hover {
        background-color: #f3d9d9;
      }
    }
  }

  .info-head h2 {
    padding-top: 40px;
    font-size: 24px;
  }

  .info-listCard {
    width: 100%;
    padding: 0 12px;
  }

  .banner-h2 {
    font-size: 16px;
  }
  .banner-h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .customer-card {
    max-width: 100%;
  }
  .series-title {
    font-size: 24px;
    margin: 40px 12px 24px 12px;
  }
  .recommend-title {
    font-size: 24px;
    padding: 40px 12px 24px 12px;
  }

  .form-container {
    max-width: 348px;
    h4 {
      font-size: 24px;
      padding-top: 40px;
      padding-bottom: 24px;
    }
  }
  .footer-info {
    display: none;
  }
  .footer-button {
    display: block;
    padding-top: 24px;
    padding-bottom: 16px;
    ul {
      display: block;
      margin-top: 8px;
    }
    li {
      margin-top: 8px;
    }
  }

  .footer-span {
    font-size: 24px !important;
    margin-right: 10px;
  }

  .footer-icon img {
    max-width: 24px;
  }
  .footer-contact {
    font-size: 16px;
  }
  .mobile-container {
    max-width: 348px;
  }
}
