.faq {
  max-width: 880px;
  &-button li {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 68px;
      @include mobile-large {
        margin-bottom: 52px;
      }
    }
  }
  &-container {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
  }
}

.faq-top {
  padding-top: 100px;
  @include mobile-large {
    padding-top: 40px;
  }

  h2 {
    font-size: 48px;
    border-left: 8px solid #9f1213;
    padding-left: 16px;
    margin-bottom: 32px;
    @include mobile-large {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
}
.faq-question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
