<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include("./layout/navbar") %>
    <h1>這是首頁</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
      eaque tenetur aperiam itaque dolores adipisci?
    </p>
    <%- include("./layout/footer") %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
