<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header') %>

    <main class="faq-container p-12">
      <div class="faq m-12">
        <div class="faq-top p-12">
          <h2>常見問題</h2>
          <h3>我想詢問配鏡問題</h3>
        </div>
        <ul class="faq-button p-12">
          <li>
            <p class="faq-question">Q1.請問可否自備鏡框單配鏡片？</p>
            <p class="faq-answer">
              A1.我牌鏡框搭配薄型非球面鏡片 1480
              元，搭配功能型鏡片則依鏡片種類加價購買。</br>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </li>
          <li>
            <p class="faq-question">Q2.眼鏡都可以20分鐘取件嗎？</p>
            <p class="faq-answer">
              A1.我牌鏡框搭配薄型非球面鏡片 1480
              元，搭配功能型鏡片則依鏡片種類加價購買。</br>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </li>
          <li>
            <p class="faq-question">Q3.散光鏡片需要額外加價嗎？</p>
            <p class="faq-answer">
              A1.我牌鏡框搭配薄型非球面鏡片 1480
              元，搭配功能型鏡片則依鏡片種類加價購買。</br>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </li>
          <li>
            <p class="faq-question">Q4.我可以使用舊眼鏡的度數配鏡片嗎？</p>
            <p class="faq-answer">
              A1.我牌鏡框搭配薄型非球面鏡片 1480
              元，搭配功能型鏡片則依鏡片種類加價購買。</br>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </li>
          <li>
            <p class="faq-question">Q5.請問可以單購買鏡框嗎？</p>
            <p class="faq-answer">
              A1.我牌鏡框搭配薄型非球面鏡片 1480
              元，搭配功能型鏡片則依鏡片種類加價購買。</br>
              當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
            </p>
          </li>
        </ul>
      </div>
    </main>

    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
