<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header') %>
    <main>
      <nav class="series-container">
        <ul class="d-flex fw-medium m-12">
          <li class="OPTICAL"><a href="#">OPTICAL</a></li>
          <li class="SUNGLASSES"><a href="#">SUNGLASSES</a></li>
          <li><a href="#">FUNCTIONAL</a></li>
        </ul>
      </nav>
      <section class="type-image d-flex">
        <img
          src="../assets/image/product-header-sm-1.png"
          alt="product.image"
        /><img
          src="../assets/image/product-header-sm-2.png"
          alt="product.image"
        />
      </section>
    </main>

    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
